.attractions-section{
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 10vw;
    margin-top: 4rem;

    &__attractions {
      margin: 0 auto;

      img{
        width: 200px;
      }

      h3{
        color: #FFA300;
        font-size: 1.75rem;
        text-align: center;
        margin-top: 10px;
      }

      p{
        margin-bottom: 5rem;
        text-align: center;
        color: #E9E9E9;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .attractions-section{
    &__container {
      grid-template-columns: 1fr 1fr;
    }
  }
}
@media screen and (max-width: 767px) {
  .attractions-section{
    &__container {
      grid-template-columns: 1fr;
    }
  }
}