.partners-section{
  padding: 0 10vw;
  margin: 7rem;

  &__container{
    display: flex;
    justify-content: space-between;
    margin: 3rem;

    img{
      width: 120px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .partners-section{
    width: 100%;
    margin: 0;

    &__container{
      gap: 1rem;
      img{
        width: 80px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .partners-section{
    &__container{
      display: grid;
      grid-template-columns: 1fr 1fr;

      img{
        width: 80px;
        margin-bottom: 20px;
        margin: 0 auto;
      }
    }
  }
}