*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    background-color: rgb(253 253 253);
}
.conteudo{
    margin-inline: auto;
    height: 100%;
}
/* Menu Superior */
header{
    z-index: 1;
    background-color: #244158;
    width: 100%;
    height: 3.5rem;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px -1px 5px black;
}
header .conteudo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
header img {
    width: 11rem;
}
.header-list ul li{
    margin-left: 4rem;
    list-style: none;
    padding-top: 21px;
    padding-bottom: 16px;
}
.header-list ul{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
.header-list li a{
    text-decoration: none;
    color: #FFF;
}

.home-botton{
    border-bottom: 2.5px solid #FFF;
}
.form-botton:hover{
    border-bottom: 2.5px solid #FFF;
}
.who-botton:hover{
    border-bottom: 2.5px solid #FFF;
}
.contact-botton{
    background-color: #151E2C;
    border-radius: 1rem;
    padding: 2rem;
    height: 40px;
    margin-top: 6px;
    display: flex;
    align-items: center;
}
.contact-botton a{
    margin-bottom: 3px;
}
.contact-botton:hover{
    background-color: #E9EBEE;
}
.contact-botton a:hover{
    color: #244158;
}
.container{
    background-color: white;
    padding: 20px;
}
.container img{
    width: 100%;
}
/* Fim Menu Superior */

/* Menu Mobile */
button{
    background: transparent;
    border:none;
    color: white;
    font-size: 36px;
    position: absolute;
    right: 10px;
    display: none;
    
}
button:hover{
    cursor: pointer;
    opacity: 0.8;
    background-color: rgba(255,255,255, 0.2);
}
main section {
    padding-top: 3rem;
}
/* Home Area */
#home {
    width: 100%;
}
#home img{
    width: 100%;
    background-color: white;
    margin-inline: auto;
    height: 100%;
    box-shadow: 0 0 4px rgb(0 0 0 / 20%);
}
/* Post Area */
#post {
    width: min(72rem, 100%);
    margin-inline: auto;
    height: 100%;
    padding: 9em 3em 0 3em;
}
/* Article Area */ 

article{
    box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 20%);
    margin-bottom: 10em;
}
article h1{
    color: #244158;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-bottom: 2em;
}
article h2 {
    color: #244158;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    text-align: center;
    margin: 1.5em auto 1.5em;
}
article h3{
    color: #244158;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    text-align: center;
    margin: 1.5em auto 1em;
}
article h4{
    color: #244158;
    font-family: 'Open Sans', sans-serif;
    margin: 1.5em auto 1.5em;
    font-size: 18px;
}
article p{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 25px;
}
article ol{
    margin: 2em 1em 2em;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 25px;
}

/* Form Area */

.cog-abuse {
    visibility: hidden !important;
}
#form{
    width: 100%;
    background-color: white;
    margin-inline: auto;
    padding: 3em;
    height: 100%;
    box-shadow: 0 0 4px rgb(0 0 0 / 20%);
    position: relative;
}

/* footer area */ 

footer {
    box-shadow: 0px 2px 5px black;
    height: 12rem;
    background-color: #cfcfcf;
    width: 100%;
    color:#151E2C;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 20px;
    font-weight: 500;
}
footer div{
    margin-top: 3.5em;
}
/* Estilização Scroll Bar */
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: #244158;
    border-radius: 10px;
}
/* MEDIA QUERYS */

@media (max-width: 723px){
    nav ul{
        visibility: hidden !important;
    }
    button{
        display: flex;
        margin-top: 1.6rem;
    }
    #post{
        padding: 3em 3em 0px;
    }
}
@media (max-width: 476px){
    button{
        display: flex;
        margin-top: 3.3rem;
    }
}