html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}
/* CENTRALIZAR AS DIVs */
div{
    margin: 40px auto;
}

/* CRIA UM CÍRCULO */
#grafico01{
    background:indigo;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}
#grafico01 img{
    width: 100%;
}
/* CRIA UM TRIÂNGULO */
#grafico02 {
    background:transparent;
    width:60px;
    border-style: solid;
    border-width: 60px 0 60px 120px;
    border-color: transparent transparent transparent blue;
}